@font-face {
    font-family: "Nekst";
    src: url(../assets/fonts/Nekst-Thin.woff2);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Nekst";
    src: url(../assets/fonts/Nekst-Light.woff2);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Nekst";
    src: url(../assets/fonts/Nekst-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Nekst";
    src: url(../assets/fonts/Nekst-Medium.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Nekst";
    src: url(../assets/fonts/Nekst-SemiBold.woff2);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Nekst";
    src: url(../assets/fonts/Nekst-Bold.woff2);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Nekst";
    src: url(../assets/fonts/Nekst-Black.woff2);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../assets/fonts/Gilroy-Thin.woff2);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../assets/fonts/Gilroy-UltraLight.woff2);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../assets/fonts/Gilroy-Light.woff2);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../assets/fonts/Gilroy-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../assets/fonts/Gilroy-Medium.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../assets/fonts/Gilroy-Semibold.woff2);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../assets/fonts/Gilroy-Bold.woff2);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../assets/fonts/Gilroy-Extrabold.woff2);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../assets/fonts/Gilroy-Black.woff2);
    font-weight: 900;
    font-style: normal;
}