.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 28px;
  width: 753px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 320px) {
    width: 210px;
    margin-bottom: 32px;
  }
}

.alignFields {
  margin: 0 0 54px;

  display: flex;
  gap: 30px;
  justify-content: space-between;

  & > * {
    flex: 1;
  }

  @media screen and (max-width: 1024px) {
    gap: 39px;
    flex-direction: column;
    margin: 0 0 44px;
  }

  @media screen and (max-width: 320px) {
    margin: 0 0 22px;
    gap: 25px;
  }
}

.footerAlign {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;

  .submitFormButton {
    width: calc(33% - 15px);

    @media screen and (max-width: 320px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 1024px) {
    gap: 42px;
    flex-direction: column;
    align-items: flex-start;

    .submitFormButton {
      width: auto;
      padding: 0 52px;
    }
  }

  @media screen and (max-width: 320px) {
    gap: 31px;
  }
}

.alignCalculations {
  width: 66%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;

  & > * {
    width: 100%;
    flex: 1;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 320px) {
    gap: 27px;
    flex-direction: column;
  }
}
