$title-height: 20px;
$input-margin-top: 24px;

.rangeField {
  position: relative;
  &[disabled] {
    opacity: 0.4;
  }
}

.title {
  position: relative;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #575757;

  @media screen and (max-width: 320px) {
    font-size: 14px;
    line-height: 136%;
  }
}

.numberInput {
  font-family: "Nekst";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;

  color: #575757;

  height: 68px;
  width: 100%;
  padding: 16px 24px;
  margin: $input-margin-top 0 0 0;

  background-color: #f3f3f4;

  border: 2px solid #f3f3f4;
  border-radius: 16px;

  transition: 0.3s;

  &:focus {
    background-color: #ffffff00;
  }

  @media screen and (max-width: 320px) {
    $input-margin-top: 8px;
    height: 60px;
    margin: $input-margin-top 0 0 0;
    padding: 19px;

    font-size: 22px;
    line-height: 20px;
  }
}

.promptAlign {
  justify-content: flex-end;
  position: absolute;
  top: $title-height + $input-margin-top + 7px;
  right: 26px;

  @media screen and (max-width: 320px) {
    top: 35px;
    right: 21px;
  }
}

.promptBackground {
  justify-content: center;

  right: 7px;

  background: #ebebec;

  font-size: 20px;
  line-height: 120%;
}
